extends application.pug

block content
  h1 Blog Application
  each blogPost in blogPosts
    .container
      .card.card-block
        .row
          .col-xs-4.col-md-8
            a(href="/blogpost/" + blogPost.slug)
              h2= blogPost.title
            p= blogPost.content
