extends ../application.pug

block content
  .container
    h1 Edit
    hr
    form(action="/admin/blogpost/" + blogPosts.id method="POST")
      input(type="hidden" name="_method" value="PUT")
      div(class="form-group")
        label(for="blogpost-title") Title
        input(name="title" type="text" class="form-control" id="blogpost-title" value=blogPosts.title)
      div(class="form-group")
        label(for="blogpost-content") Content
        textarea(name="content" class="form-control" rows=5 id="blogpost-content")= blogPosts.content
      div(class="form-group text-xs-right")
        button(type="submit" class="btn btn-lg btn-success") Submit
