extends ../application.pug

block content
  .container
    h1 Edit
    hr
    form(action="/blogpost" + blogPosts.id method="POST")
      input(type="hidden" name="_method" value="PUT")
      div(class="form-group")
        label(for="blogpost-title") Title
        input(name="title" type="text" class="form-control" id="blogpost-title" value=blogPosts.title)
      div(class="form-group")
        label(for="blogpost-body") Body
        textarea(name="body" class="form-control" rows=5 id="blogpost-body" value=blogPosts.body)
      div(class="form-group text-xs-right")
        button(type="submit" class="btn btn-lg btn-success") Submit
