extends ../application.pug

block content

    .container
      .row
        .col-xs-4.col-md-8
          .card.card-block
            h2= blogPost.title
            p= blogPost.content

          h5 Add a comment:

          form(action="/" method="POST")
            div(class="form-group")
              textarea(name="content" class="form-control" rows=5")
            div(class="form-group text-xs-right")
              button(type="submit" class="btn btn-lg btn-success") Add comment
